<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{_shared/head}"/>
</head>

<body class="bg-gradient-primary">
<div id="wrapper">
    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" class="bg-primary">
            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Edit Hospital Record</h1>
                                    </div>
                                    <form class="user" th:action="@{/hospitals/edit/{id}(id=${id})}"
                                          method="post" th:object="${editModel}">
                                        <div class="form-group" style="text-align: center">
                                            <label for="name" class="text-info">Hospital Name</label>
                                            <input type="text" class="form-control form-control-user" id="name"
                                                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                                                   placeholder="Hospital Name" name="name" th:value="${hospital.name}"/>
                                            <small th:each="error : ${#fields.errors('name')}"
                                                   th:text="${error}">Error Message
                                            </small>
                                        </div>
                                        <div class="form-group" style="text-align: center">
                                            <label for="address" class="text-info">Hospital Address</label>
                                            <input type="text" class="form-control form-control-user" id="address"
                                                   th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'"
                                                   placeholder="Hospital Address" name="address"
                                                   th:value="${hospital.address}"/>
                                            <small th:each="error : ${#fields.errors('address')}"
                                                   th:text="${error}">Error Message
                                            </small>
                                        </div>
                                        <div class="form-group" style="text-align: center">
                                            <label for="phoneNumber" class="text-info">Phone Number</label>
                                            <input type="text" class="form-control form-control-user" id="phoneNumber"
                                                   th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid'"
                                                   placeholder="Phone Number" name="phoneNumber"
                                                   th:value="${hospital.phoneNumber}"/>
                                            <small th:each="error : ${#fields.errors('phoneNumber')}"
                                                   th:text="${error}">Error Message
                                            </small>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Edit Hospital Record
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <th:block th:include="~{_shared/footer}"/>
        </footer>
    </div>
</div>
<th:block th:include="~{_shared/dom_scripts}"/>
</body>

</html>
