<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{_shared/head}"/>
</head>

<body class="bg-gradient-primary">
<div id="wrapper">
    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" class="bg-primary">

            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Add Donor To Database</h1>
                                    </div>
                                    <form class="user" th:action="@{/donors/register}" method="post"
                                          th:object="${registerModel}">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="donorName"
                                                   th:classappend="${#fields.hasErrors('fullName')} ? 'is-invalid'"
                                                   placeholder="Full Name" name="fullName" th:field="*{fullName}">
                                            <small id="nameHelp" th:each="error : ${#fields.errors('fullName')}"
                                                   th:text="${error}">Error Message
                                            </small>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user"
                                                       id="exampleFirstName"
                                                       th:classappend="${#fields.hasErrors('age')} ? 'is-invalid'"
                                                       placeholder="Age" name="age" th:field="*{age}">
                                                <small th:each="error : ${#fields.errors('age')}" th:text="${error}">
                                                    Error Message
                                                </small>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="custom-select" name="sex">
                                                    <option th:each="sex : ${sexList}"
                                                            th:value="${sex}"
                                                            th:text="${sex}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user"
                                                       placeholder="Id Card"
                                                       th:classappend="${#fields.hasErrors('idCardNumber')} ? 'is-invalid'"
                                                       name="idCardNumber" th:field="*{idCardNumber}">
                                                <small th:each="error : ${#fields.errors('idCardNumber')}"
                                                       th:text="${error}">Error Message
                                                </small>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user"
                                                       placeholder="UCN"
                                                       th:classappend="${#fields.hasErrors('ucn')} ? 'is-invalid'"
                                                       name="ucn" th:field="*{ucn}">
                                                <small th:each="error : ${#fields.errors('ucn')}" th:text="${error}">
                                                    Error Message
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user"
                                                       placeholder="Phone Number"
                                                       th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid'"
                                                       name="phoneNumber" th:field="*{phoneNumber}">
                                                <small th:each="error : ${#fields.errors('phoneNumber')}"
                                                       th:text="${error}">Error Message
                                                </small>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user"
                                                       id="" placeholder="Email"
                                                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
                                                       name="email" th:field="*{email}">
                                                <small th:each="error : ${#fields.errors('email')}" th:text="${error}">
                                                    Error Message
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   id="exampleInputEmail"
                                                   th:classappend="${#fields.hasErrors('gpName')} ? 'is-invalid'"
                                                   placeholder="Gp Name" name="gpName" th:field="*{gpName}">
                                            <small th:each="error : ${#fields.errors('gpName')}" th:text="${error}">
                                                Error Message
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   id="exampleInputEmail"
                                                   th:classappend="${#fields.hasErrors('currentAddress')} ? 'is-invalid'"
                                                   placeholder="Current Address" name="currentAddress"
                                                   th:field="*{currentAddress}">
                                            <small th:each="error : ${#fields.errors('currentAddress')}"
                                                   th:text="${error}">Error Message
                                            </small>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Register Donor
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <th:block th:include="~{_shared/footer}"/>
        </footer>
    </div>
</div>
<th:block th:include="~{_shared/dom_scripts}"/>
</body>

</html>
