<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>

<body class="bg-gradient-primary">
<div id="wrapper">
    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" class="bg-primary">
            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Delete User Account</h1>
                                    </div>
                                    <form class="user" th:action="@{/users/delete/{id}(id=${user.id})}" method="post">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control form-control-user"
                                                   id="username"
                                                   placeholder="Username" name="username" th:disabled="true"
                                                   th:value="${user.username}">
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="firstName">First Name</label>
                                                <input type="text" class="form-control form-control-user"
                                                       id="firstName"
                                                       placeholder="First Name" name="firstName" th:disabled="true"
                                                       th:value="${user.firstName}">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" class="form-control form-control-user"
                                                       id="lastName"
                                                       placeholder="Last Name" name="lastName" th:disabled="true"
                                                       th:value="${user.lastName}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="position">Position</label>
                                                <input type="text" class="form-control form-control-user"
                                                       placeholder="Position" id="position"
                                                       name="position" th:disabled="true" th:value="${user.position}">
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="phone">Phone Number</label>
                                                <input type="text" class="form-control form-control-user"
                                                       placeholder="Phone Number" id="phone"
                                                       name="phoneNumber" th:disabled="true"
                                                       th:value="${user.phoneNumber}">
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Delete User Account
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="~{_shared/footer}"/>
    </div>
</div>

</body>

</html>
