<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{_shared/head}"/>
</head>

<body class="bg-gradient-primary">
<div id="wrapper">
    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" class="bg-primary">
            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Create User Account</h1>
                                    </div>
                                    <form class="user" th:action="@{/users/register}" method="post"
                                          th:object="${registerModel}">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   id="exampleInputEmail"
                                                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
                                                   placeholder="Username" name="username" th:field="*{username}"/>
                                            <small th:each="error : ${#fields.errors('username')}" th:text="${error}">
                                                Error Message
                                            </small>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user"
                                                       id="exampleFirstName"
                                                       th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"
                                                       placeholder="First Name" name="firstName"
                                                       th:field="*{firstName}">
                                                <small th:each="error : ${#fields.errors('firstName')}"
                                                       th:text="${error}">Error Message
                                                </small>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user"
                                                       id="exampleLastName"
                                                       th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"
                                                       placeholder="Last Name" name="lastName" th:field="*{lastName}">
                                                <small th:each="error : ${#fields.errors('lastName')}"
                                                       th:text="${error}">Error Message
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user"
                                                       placeholder="Position"
                                                       th:classappend="${#fields.hasErrors('position')} ? 'is-invalid'"
                                                       name="position" th:field="*{position}">
                                                <small th:each="error : ${#fields.errors('position')}"
                                                       th:text="${error}">Error Message
                                                </small>
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user"
                                                       placeholder="Phone Number"
                                                       th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid'"
                                                       name="phoneNumber" th:field="*{phoneNumber}">
                                                <small id="nameHelp" th:each="error : ${#fields.errors('phoneNumber')}"
                                                       th:text="${error}">Error Message
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="password" class="form-control form-control-user"
                                                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                                                       id="exampleInputPassword" placeholder="Password" name="password">
                                                <small id="nameHelp" th:each="error : ${#fields.errors('password')}"
                                                       th:text="${error}">Error Message
                                                </small>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control form-control-user"
                                                       id="exampleRepeatPassword" placeholder="Repeat Password"
                                                       name="confirmPassword">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="memberNameLabel">Select Department</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="custom-select" name="departmentName">
                                                    <option th:each="departmentName : ${departmentNames}"
                                                            th:value="${departmentName}"
                                                            th:text="${departmentName}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Register User Account
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <th:block th:include="~{_shared/footer}"/>
        </footer>
    </div>
</div>
<th:block th:include="~{_shared/dom_scripts}"/>
</body>

</html>
