<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>

<body class="bg-gradient-primary">
<div id="wrapper">
    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" class="bg-primary">
            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-info mb-4">Delete Department Record</h1>
                                    </div>
                                    <form class="user" th:action="@{/departments/delete/{id}(id=${id})}" method="post">
                                        <div class="form-group" style="text-align: center">
                                            <label for="name" class="text-info">Department Name</label>
                                            <input type="text" id="name" class="form-control form-control-user"
                                                   placeholder="Department name" name="name" th:value="${department.name}" th:disabled="true"/>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Delete Department
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="~{_shared/footer}"/>
    </div>
</div>

</body>

</html>
