<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>


<body id="page-top">

<div id="wrapper">

    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Departments</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Department Name</th>
                                    <th scope="col">Edit Department</th>
                                    <th scope="col">Delete Department</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="department : ${departments}">
                                    <tr>
                                        <td th:text="${department.id}"></td>
                                        <td th:text="${department.name}"></td>
                                        <td><a th:href="@{/departments/edit/{id}(id=${department.id})}">Edit
                                            Department</a></td>
                                        <td><a th:href="@{/departments/delete/{id}(id=${department.id})}">Delete
                                            Department</a></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:include="~{_shared/footer}"/>

    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>

</html>
