<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>

<body class="bg-gradient-primary">
<div id="wrapper">
    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content" class="bg-primary">
            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-info mb-4">Edit Blood Request</h1>
                                    </div>
                                    <form class="user" th:action="@{/requests/edit/{id}(id=${request.id})}"
                                          method="post">
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0 text-info" style="text-align: center">
                                                <label for="hospitalName">Hospital Name</label>
                                                <input type="text" class="form-control form-control-user"
                                                       id="hospitalName"
                                                       placeholder="Hospital" name="hospital"
                                                       th:value="${request.hospital.name}"/>
                                            </div>
                                            <div class="col-sm-6 text-info" style="text-align: center">
                                                <label for="patientId">Patient Id</label>
                                                <input type="text" class="form-control form-control-user" id="patientId"
                                                       placeholder="amount" name="patientId"
                                                       th:value="${request.patientId}"/>
                                            </div>
                                        </div>
                                        <div class="form-group row text-info">
                                            <div class="col-sm-6" style="text-align: center">
                                                <label for="patientName">Patient Name</label>
                                            </div>
                                            <input type="text" class="form-control form-control-user" id="patientName"
                                                   placeholder="Patient Name" name="patientFullName"
                                                   th:value="${request.patientFullName}"/>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="memberNameLabel text-info">Select Blood Product
                                                    Type</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="custom-select" name="bloodProductType">
                                                    <option th:each="bloodProductType : ${productTypes}"
                                                            th:value="${bloodProductType}"
                                                            th:text="${bloodProductType}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="memberNameLabel text-info">Select Request State</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="custom-select" name="requestState">
                                                    <option th:each="state : ${requestStates}"
                                                            th:value="${state}"
                                                            th:text="${state}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0 text-info" style="text-align: center">
                                                <label for="dateOfRequest">Date Of Request</label>
                                                <input type="text" class="form-control form-control-user"
                                                       id="dateOfRequest"
                                                       placeholder="Date of Request" name="dateOfRequest"
                                                       th:value="${#dates.format(request.dateOfRequest, 'yyyy-MM-dd')}"/>
                                            </div>
                                            <div class="col-sm-6 text-info" style="text-align: center">
                                                <label for="amount">Product Amount</label>
                                                <input type="text" class="form-control form-control-user" id="amount"
                                                       placeholder="amount" name="amount" th:value="${request.amount}"/>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Edit Blood Request
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="~{_shared/footer}"/>
    </div>
</div>

</body>

</html>
