<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
            <th:block th:include="~{_shared/navbar}"/>


            <div class="container-fluid">

                <div class="text-center">
                    <div class="error mx-auto" data-text="Error">Error</div>
                    <h1 th:if="${message != 'No message available'}" class="display-5 text-800 mb-5 text-info"
                        th:text="${message}"></h1>
                    <h1 th:unless="${message != 'No message available'}" class="display-5 text-800 mb-5 text-info">Page
                        Not Found!</h1>

                </div>
            </div>

            <th:block th:include="~{_shared/footer}"/>

        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <script>
        setTimeout(
            function goBack() {
                window.history.back();
            }, 3000);
    </script>

</div>
</body>

</html>
