<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>

<body id="page-top">

<div id="wrapper">

    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Blood Products</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th scope="col">Blood Product Type</th>
                                    <th scope="col">Amount Of Product</th>
                                    <th scope="col">Date Of Donation</th>
                                    <th scope="col">Product Availability</th>
                                    <th scope="col">Edit Product Record</th>
                                    <th scope="col">Delete Product Record</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th scope="col">Blood Product Type</th>
                                    <th scope="col">Amount Of Product</th>
                                    <th scope="col">Date Of Donation</th>
                                    <th scope="col">Product Availability</th>
                                    <th scope="col">Edit Product Record</th>
                                    <th scope="col">Delete Product Record</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <th:block th:each="product : ${bloodProducts}">
                                    <tr>
                                        <td th:text="${product.type.displayValue}"></td>
                                        <td th:text="${product.amount}"></td>
                                        <td th:text="${#dates.format(product.dateOfDonation, 'yyyy-MM-dd')}"></td>
                                        <td th:text="${product.productAvailability.displayValue}"></td>
                                        <td><a th:href="@{/products/edit/{id}(id=${product.id})}">Edit Product</a></td>
                                        <td><a th:href="@{/products/delete/{id}(id=${product.id})}">Delete Product</a></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:include="~{_shared/footer}"/>

    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>

</html>
