<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{_shared/head}"/>
</head>

<body id="page-top">

<div id="wrapper">

    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Blood Donations</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th scope="col">Donor Name</th>
                                    <th scope="col">Amount Of Donated Blood</th>
                                    <th scope="col">Date Of Donation</th>
                                    <th scope="col">Register Blood Sample</th>
                                    <th scope="col">View Blood Samples</th>
                                    <th scope="col">Edit Donation Record</th>
                                    <th scope="col">Delete Donation Record</th>
                                    <th scope="col">Blood State</th>
                                    <th scope="col">Set Blood State</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th scope="col">Donor Name</th>
                                    <th scope="col">Amount Of Donated Blood</th>
                                    <th scope="col">Date Of Donation</th>
                                    <th scope="col">Register Blood Sample</th>
                                    <th scope="col">View Blood Samples</th>
                                    <th scope="col">Edit Donation Record</th>
                                    <th scope="col">Delete Donation Record</th>
                                    <th scope="col">Blood State</th>
                                    <th scope="col">Set Blood State</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <th:block th:each="donation : ${donations}">
                                    <tr>
                                        <td th:text="${donation.donor.fullName}"></td>
                                        <td th:text="${donation.amount}"></td>
                                        <td th:text="${#dates.format(donation.dateOfDonation, 'yyyy-MM-dd')}"></td>
                                        <td><a th:href="@{/bloodSamples/register/{id}(id=${donation.id})}">Register
                                            Blood Sample</a></td>
                                        <td><a th:href="@{/bloodSamples/table/{id}(id=${donation.id})}">Blood Samples
                                            Table</a></td>
                                        <td><a th:href="@{/donations/edit/{id}(id=${donation.id})}">Edit Donation</a>
                                        </td>
                                        <td><a th:href="@{/donations/delete/{id}(id=${donation.id})}">Delete
                                            Donation</a></td>
                                        <td th:text="${donation.bloodProcessState.displayValue}"></td>
                                        <td><a th:href="@{/donations/state/{id}(id=${donation.id})}">Set Blood State</a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <th:block th:include="~{_shared/footer}"/>
        </footer>
    </div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<th:block th:include="~{_shared/dom_scripts}"/>
</body>

</html>
