<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{_shared/head}"/>
</head>

<body class="bg-gradient-primary">

<div id="wrapper">
    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" class="bg-primary">
            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Register Blood Donation</h1>
                                    </div>
                                    <form class="user" th:action="@{/donations/register}" method="post"
                                          th:object="${registerModel}">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="donorName"
                                                   th:classappend="${#fields.hasErrors('donorName')} ? 'is-invalid'"
                                                   placeholder="Donor Name" name="donorName" th:field="*{donorName}"/>
                                            <small id="nameHelp" th:each="error : ${#fields.errors('donorName')}"
                                                   th:text="${error}">Error Message
                                            </small>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user"
                                                       id="dateOfDonation"
                                                       th:classappend="${#fields.hasErrors('dateOfDonation')} ? 'is-invalid'"
                                                       placeholder="Date in format yyyy-MM-dd"
                                                       name="dateOfDonation" th:field="*{dateOfDonation}"/>
                                                <small id="nameHelp"
                                                       th:each="error : ${#fields.errors('dateOfDonation')}"
                                                       th:text="${error}">Error Message
                                                </small>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user" id="amount"
                                                       th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid'"
                                                       placeholder="Amount of blood" name="amount"
                                                       th:field="*{amount}"/>
                                                <small id="nameHelp" th:each="error : ${#fields.errors('amount')}"
                                                       th:text="${error}">Error Message
                                                </small>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Register Donation
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <th:block th:include="~{_shared/footer}"/>
        </footer>
    </div>
</div>
<th:block th:include="~{_shared/dom_scripts}"/>
</body>

</html>
