<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>

<body class="bg-gradient-primary">
<div id="wrapper">
    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" class="bg-primary">

            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Delete Blood Sample Record</h1>
                                    </div>
                                    <form class="user" th:action="@{/bloodSamples/delete/{id}(id=${id})}" method="post">
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="memberNameLabel text-info">Select Blood Type</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user" id="bloodType"
                                                       placeholder="" name="bloodType"
                                                       th:value="${bloodSample.bloodType}" th:disabled="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="memberNameLabel text-info">Choose Blood Sample Status</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user"
                                                       id="bloodSampleStatus"
                                                       placeholder="" name="bloodSampleStatus"
                                                       th:value="${bloodSample.bloodSampleStatus}" th:disabled="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group text-info">
                                            <label for="notes">Additional Notes</label>
                                            <input type="text" class="form-control form-control-user" id="notes"
                                                   placeholder="Notes" name="notes" th:value="${bloodSample.notes}"
                                                   th:disabled="true"/>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Delete Blood Sample
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="~{_shared/footer}"/>
    </div>
</div>

</body>

</html>
