<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{_shared/head}"/>
</head>

<body class="bg-gradient-primary">
<div id="wrapper">
    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" class="bg-primary">

            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Add Blood Sample To Donation</h1>
                                    </div>
                                    <form class="user" th:action="@{/bloodSamples/register/{id}(id=${id})}"
                                          method="post" th:object="${registerModel}">
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="memberNameLabel">Select Blood Type</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="custom-select" name="bloodType">
                                                    <option th:each="bloodType : ${bloodTypeList}"
                                                            th:value="${bloodType}"
                                                            th:text="${bloodType}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="memberNameLabel">Choose Blood Sample Status</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="custom-select" name="bloodSampleStatus">
                                                    <option th:each="status : ${bloodSampleStatusList}"
                                                            th:value="${status}"
                                                            th:text="${status}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="notes"
                                                   th:classappend="${#fields.hasErrors('notes')} ? 'is-invalid'"
                                                   placeholder="Notes" name="notes">
                                            <small id="nameHelp" th:each="error : ${#fields.errors('notes')}"
                                                   th:text="${error}">Error Message
                                            </small>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Add Blood Sample
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <th:block th:include="~{_shared/footer}"/>
        </footer>
    </div>
</div>
<th:block th:include="~{_shared/dom_scripts}"/>
</body>

</html>
