<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{_shared/head}"/>
</head>

<body id="page-top">

<div id="wrapper">

    <th:block th:include="~{_shared/sidebar}"/>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <th:block th:include="~{_shared/navbar}"/>

            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Blood Samples</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th scope="col">Blood Type</th>
                                    <th scope="col">Blood Sample Status</th>
                                    <th scope="col">Notes</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th scope="col">Blood Type</th>
                                    <th scope="col">Blood Sample Status</th>
                                    <th scope="col">Notes</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <th:block th:each="bloodSample : ${bloodSampleModels}">
                                    <tr>
                                        <td th:text="${bloodSample.bloodType}"></td>
                                        <td th:text="${bloodSample.bloodSampleStatus}"></td>
                                        <td th:text="${bloodSample.notes}"></td>
                                        <td><a th:href="@{/bloodSamples/edit/{id}(id=${bloodSample.id})}">Edit</a></td>
                                        <td><a th:href="@{/bloodSamples/delete/{id}(id=${bloodSample.id})}">Delete</a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <th:block th:include="~{_shared/footer}"/>
        </footer>

    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<th:block th:include="~{_shared/dom_scripts}"/>
</body>

</html>
